@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --primer-color: #222222;
    --segundo-color: #F0A83E;
    --tercer-color: #3c2313;
    --cuarto-color: #ffffff;
}

ul{
    list-style-type: none;
    display: flex;
}
/* header*/
.headerBanner {
    color: white;
    background-color: var(--primer-color);
    height: 30px;
    font-size: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.headerBanner>p {
    padding-left: 90px;
}
.pais{
    padding-right: 40px;
}
ul li{
    display: inline;
    padding-right: 15px;
}

.header {
    background-color: var(--segundo-color);
    /*color: white; */
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span {
    color: var(--cuarto-color);
}
/*img {
    width: 20px;
    height: 20px;
}*/
nav ul {
    display:flex;
}
nav ul li a {
    padding: 10px;
}
h1 {
    font-size: 25px;
    color: black;
    padding-left: 58px;
}
a {
    text-decoration: none;
    color: var(--cuarto-color);
}
main {
    margin: 50px;
}

h2 {
    border-top: 2px;
}
.padre {
    display: flex;
    justify-content: space-around;
}
.productos {
    margin-top: 3rem;
    text-align: center;
}
.productos h2 {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}
ul li {
    display: inline;
    padding-right: 15px;
}
li {
    text-align: center;
}
h3 {
    display: block;
    position: relative;
    text-align: center;

}
.comederos h2 {
    width: 50%;
    color: var(--tercer-color);
    background-color: var(--cuarto-color);
    padding: 8px 0px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 100;
    border-radius: 10px;
}
.comederos h3 {
    background-color: var(--segundo-color);
    color: var(--cuarto-color);
    height: 50px;
    width: 192px;
    border-color: transparent;
    box-shadow: 1px 1px 10px 1px var(--tercer-color);
    padding-top: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
